{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Add</h2>
<p>Choose whether to add a prisoner or add details of 1 prisoner</p>
<section class="tiles">
    <article class="style2">
        <span class="image">
            <img src="{% static 'images/pic01.jpg' %}" alt="" />
        </span>
        <a href="{% url 'select_prisoner' %}">
            <h2>Others</h2>
            <div class="content">
                <p>Other detials of an existing prisoner</p>
            </div>
        </a>
    </article>
    <article class="style3">
        <span class="image">
            <img src="{% static 'images/pic02.jpg' %}" alt="" />
        </span>
        <a href="{% url 'prisoner_data' %}">
            <h2>Prisoner</h2>
            <div class="content">
                <p>Add a new prisoner</p>
            </div>
        </a>
    </article>
</section>
{% endblock %}