{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Select Prisoner</h2>
<p>
    Here are the favourable options. Please click on the wanted prisoner <br>
    <table>
        <thead>
            <tr>
                <td><b>Prisoner Name</b></td>
                <td><b>Ward No.</b></td>
                <td><b>Mobile No.</b></td>
            </tr>
        </thead>
        <tbody>
            {% for prisoner in prisoners %}
            <tr>
                <td><a href="/view/prisoner_details/{{ prisoner.id }}">{{ prisoner.name }}</a></td>
                <td>{{ prisoner.ward }}</td>
                <td>{{ prisoner.mobile_numbers }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</p>
{% endblock %}