<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Prison Database</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="{% static 'images/logo.png' %}" alt="" /></span><span class="title">Prison Database</span>
								</a> 

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/">Home</a></li>
							{% if request.user.is_authenticated %}
							<li>
								Hi, {{ request.user.first_name }}
								<a href="/accounts/logout">Logout?</a>
							</li>
							{% else %}
							<li><a href="{% url 'login' %}">Login</a></li>
							<li><a href="{% url 'register' %}">Register</a></li>
							{% endif %}
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>A database which aims to maintain digital records and avoid
									the hassle with paperwork.<br />
								</h1>
								
							</header>
							{% if request.user.is_authenticated %}
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="{% static 'images/pic01.jpg' %}" alt="" />
									</span>
									<a href="{% url 'view_database_options' %}">
										<h2>View Database</h2>
										<div class="content">
											<p>Select to view details of the prison database.</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="{% static 'images/pic02.jpg' %}" alt="" />
									</span>
									<a href="{% url 'view_prisoner_select' %}">
										<h2>View Prisoner</h2>
										<div class="content">
											<p>Select to view details of a particular prisoner.</p>
										</div>
									</a>
								</article>
								{% if 'staff' in groups %}
								<article class="style3">
									<span class="image">
										<img src="{% static 'images/pic03.jpg' %}" alt="" />
									</span>
									<a href="{% url 'update_or_add' %}">
										<h2>Update/Add/Delete</h2>
										<div class="content">
											<p>Update/Add/Delete details of the database.</p>
										</div>
									</a>
								</article>
								{% endif %}
								
								
							</section>
							{% else %}
							<p>
								Please login or register yourself!
							</p>
							{% endif %}
						</div>
					</div>				
			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>